h1 {
  color:teal;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  text-align: center;
  color:rgb(2, 58, 58);
  font-weight: bold;
}
h3 {
  font-size: 15px;
  color:rgb(5, 77, 36);
  line-height:normal;
  text-align: center;
}
li {
  color:slategrey;
  text-align: center;
}
p {
  color:rgb(54, 58, 54);
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}