h1 {
  color: red;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  text-align: center;
  color:teal;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  color:seagreen;
  line-height:normal;
}
li {
  color:slategrey;
}
p {
  color:turquoise;
}